# Environment
NODE_ENV= # or production / development
PORT=

# Database
DB_HOST=
DB_PORT=
DB_USERNAME=
DB_PASSWORD=
DB_DATABASE=

# DB_HOST= 14.224.151.153
# DB_PORT= 5435
# DB_USERNAME= lotus
# DB_PASSWORD= lotusitomo
# DB_DATABASE= lotus

# mail
MAIL_SERVICE= 
MAIL_HOST=
MAIL_USERNAME=
MAIL_PASSWORD=

# redis
REDIS_HOST= 
REDIS_PORT=
REDIS_PASSWORD=
REDIS_DB=
REDIS_MAX_RETRIES=
REDIS_CONNECT_TIMEOUT=

# log
LOG_LEVEL=
LOG_DIR=
LOG_FILE_NAME=
LOG_MAX_SIZE=
LOG_MAX_FILES=


# JWT
JWT_ACCESS_SECRET=
JWT_REFRESH_SECRET=
JWT_ACCESS_EXPIRES_IN=
JWT_REFRESH_EXPIRES_IN=

# App
APP_NAME=Backend App
APP_VERSION=1.0.0

# Upload
UPLOAD_DIR = uploads
AVATAR_DIR = avatar
FILE_DIR = files
TEMP_DIR = temp

# Customer Device
MAX_DEVICE_PER_CUSTOMER=